{% extends 'base.html.twig' %}

{% block body %}

<h1>Formulaire</h1>

    {{form_start(form)}}
    <!--forom_row prend en deuxième paramètre un tableau associatif au format json-->
        {{form_row(form.username, {'label':'nom d\'utilisateur','attr':{'placeholder':'username...'}})}}
        {{form_row(form.email, {'attr':{'placeholder':'adresse email...'}})}}
        {{form_row(form.password, {'label':'mot de passe', 'attr':{'placeholder':'votre mot de passe'}})}}
        {{form_row(form.confirm_password, {'label':'confirmation mot de passe', 'attr':{'placeholder':'répétez votre mot de passe'}})}}
        <button type="submit" class="btn btn-success">Inscription !</button>
        {{ form_end(form) }}

{% endblock %}