{% extends 'base.html.twig' %}

{% block title %}Nos articles à la carte{% endblock %}

{% block body %}
<section>

<h2 class="mt-4">Articles à la Carte</h1>
<hr>
<legend>Naviguez par catégories...</legend>

{#Onglets de naviagation#}
<ul class="nav nav-tabs mt-5">

{% for category in categories %}

  <li class="nav-item">
    <h3 style="font-size: 1rem;" >
        <a data-toggle="tab" href="#{{category.name}}">
            {{category.name | upper}}
        </a>
    </h3>
  </li>  

{% endfor %}
</ul>

{#contenu#}
<div id="myTabContent" class="tab-content">

{% for category in categories %}
  <div class="tab-pane fade {% if loop.first %}show active {% endif %}" id="{{category.name}}"> 
  {% for article in articles %}  
  {% if article.category.name is same as(category.name) %}      
   
        <h4 class="my-4">{{article.title}}</h4>
        <p>{{article.category.name | upper}}</p>
        <div class="content">
            {{article.content | raw}}
            <div class="alert alert-dismissible alert-warning">Allergènes : {{article.allergen}}</div>
            <span class="badge badge-info mb-4">{{article.price}}€</span>
        </div>
            {% if  app.user %}
        <div>        
                <a href="{{ path('article_edit', {'id':article.id })}}" class="card-link">Modifier</a>
                <a href="{{ path('article_delete', {'id':article.id })}}" class="card-link">Supprimer</a>
        </div>    
            {% endif %}
                    {#pour affichage des commentaires#}
        {% if article.comments %}        
        <div>
          <a class="btn btn-dark btn-sm mt-4" href="{{ path('article_show', {'id':article.id} ) }} ">
            {{article.comments| length}} commentaires <i class="fa fa-book" aria-hidden="true"></i>
          </a>
          
        </div>
        {% endif %}

    {% endif %}   
    {% endfor %}   
   </div>
{% endfor %}

</div>

</section>
{% endblock %}
